<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="css/signin.css">
  <head th:insert="fragments.html::header"></head>
</head>
<body>
<header th:insert="fragments.html::nav"></header>
<div class="container">
  <form class="form-signin" method="post" th:action="@{/signup}" th:object="${user}">
    <h2 class="form-signin-heading">회원가입</h2>
    <p>
      <label for="email" class="sr-only">email</label>
      <input type="text" id="email" th:field="${user.email}" class="form-control" placeholder="email" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" th:field="${user.password}" class="form-control" placeholder="Password" required>
    </p>
    <p> 성별
      <div th:each="type : ${genderType}">
        <input type="radio" th:field="${user.gender}" th:value="${type.name()}" class="form-check-input" th:checked="${type.name() == 'MALE' ? 'checked' : ''}"/>
        <label th:for="${#ids.prev('gender')}" th:text="${type.name()}" class="form-check-label">남자</label>
      </div>
    </p>
    <p>
      <label for="age" class="sr-only">Password</label>
      <input type="text" id="age" th:field="${user.age}" class="form-control" placeholder="Age" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
  </form>
</div>
</body>
</html>